<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819862397730-suja70fq570ak28lktic1ni58qlu0p4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819862397730-suja70fq570ak28lktic1ni58qlu0p4d</string>
	<key>API_KEY</key>
	<string>AIzaSyCNhin_X7vg520t_V7jh24c2T4-KPuXSHs</string>
	<key>GCM_SENDER_ID</key>
	<string>819862397730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arcandbearingstudio.propeller</string>
	<key>PROJECT_ID</key>
	<string>propeller-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>propeller-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819862397730:ios:d71d3ef7cac0827e69fb7b</string>
</dict>
</plist>