<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347714840404-6nt5dsqfvae4hrjv34lrjgo57kh914k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347714840404-6nt5dsqfvae4hrjv34lrjgo57kh914k7</string>
	<key>API_KEY</key>
	<string>AIzaSyAlX32sJ4SGKkmnc3NW40BMRnWDAS2E88Y</string>
	<key>GCM_SENDER_ID</key>
	<string>347714840404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joviandigital.callisto</string>
	<key>PROJECT_ID</key>
	<string>callisto-408c5</string>
	<key>STORAGE_BUCKET</key>
	<string>callisto-408c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347714840404:ios:3fefa5505768588c8f0ac1</string>
</dict>
</plist>